<% include ../partials/head.ejs %>
  <body>
    <% include ../partials/header.ejs %>
    <main>
      <div class="container white">
        <form action="/auth/register" method="post">
          <div>
            <input class="opp" placeholder="username" type="text" name="username"/>
          </div>
          <div>
            <input class="opp" placeholder="password" type="password" name="password"/>
          </div>
          <div>
            <input class="opp" placeholder="firstname" type="text" name="firstName"/>
          </div>
          <div>
            <input class="opp" placeholder="lastname" type="text" name="lastName"/>
          </div>
          <div>
            <input class="opp" placeholder="email" type="text" name="email"/>
          </div>
          <div>
            <input type="submit" class="btn-large waves-effect waves-light orange left" value="Register" />
          </div>
        </form>
      </div>
    </main>
    <% include ../partials/footer.ejs %>
  </body>
</html>
