<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <!-- Bootstrap Core CSS -->
   <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
   <!-- FONT AWESOME -->
   <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
  </head>
  <body>
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12 begin">
          <div class="row">
            <div class="col-md-2 sidebar-title text-center">Markit</div>
            <div class="col-md-10 top-right">
              <div class="row">
                <div class="col-md-5">
                  <form id="custom-search-form" class="form-search form-horizontal pull-left">
                    <input type="text"  placeholder="Search">
                  </form>
                </div>
                <div class="col-md-3 select-space">
                  <select class="selectpicker btn-primary">
                  <option>Mahabharata</option>
                  <option>JavaScript</option>
                  <option>I love react</option>
                  </select>
                </div>
                <div class="col-md-3">
                    <a href="#menu-toggle" class="btn btn-primary pull-right" id="menu-toggle">Save</a>
                </div>
              </div>
            </div>
          </div>

        </div>
        <div class="col-md-2 col-sm-3 col-xs-3 left-side">
          <div class="row text-center">
            <div class="col-md-12 usr-name"><i class="fa fa-user-circle spa" aria-hidden="true"></i>Tenzin</div>
            <div class="col-md-12">
              <button class="btn btn-primary alg ">New Folder<i class="fa fa-plus-square spb" aria-hidden="true"></i></button>
            </div>
            <div class="col-md-12 folder alz"><i class="fa fa-folder-open-o spa" aria-hidden="true"></i>folders</div>
            <div class="col-md-12">
              <div class="row folder-name">
                <div class="col-md-9 text-right">Mahabharata</div>
                <div class="col-md-3 text-right"><i class="fa fa-trash-o" aria-hidden="true"></i></div>
              </div>
            </div>
            <div class="col-md-12">
              <div class="row folder-name">
                <div class="col-md-9 text-right">JavaScript</div>
                <div class="col-md-3 text-right"><i class="fa fa-trash-o" aria-hidden="true"></i></div>
              </div>
            </div>
            <div class="col-md-12">
              <div class="row folder-name">
                <div class="col-md-9 text-right">I love react</div>
                <div class="col-md-3 text-right"><i class="fa fa-trash-o" aria-hidden="true"></i></div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-10 col-sm-9 col-xs-9 right-side">
          <div class="row">
            <div class="col-md-6">
              <div class="boxz"><i class="fa fa-pencil spa" aria-hidden="true"></i><i class="fa fa-trash-o" aria-hidden="true"></i></div>
              <div class="urlz">www.google.com</div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

  </body>
</html>
