<% include partials/head.ejs %>
  <body>
      <% include partials/header.ejs %>
      <main>
        <div class="section no-pad-bot" id="index-banner">
          <div class="container white">
            <br><br><br>
            <h5 class="header center orange-text">This is your home page!</h5>
            <br><br><br>
            <div class="row center">
              <a href="/auth/login" class="btn-large waves-effect waves-light orange">Login</a>
              <a href="/auth/register" class="btn-large waves-effect waves-light orange">Register</a>
            </div>
            <br><br>
          </div>
        </div>
        <!-- facebook oauth
        <div class="container white">
          <h5 class="header center orange-text">OR</h5>
          <br><br>
            <div class="center">
              <div class="fb-login-button" data-max-rows="1" data-size="xlarge"
                   data-show-faces="true" data-auto-logout-link="true" onlogin="checkLoginState();"
                   logout="checkLoginState();">
              </div>
              <h5><div id="status" class="orange-text" /></h5>
            </div>
           </div>
           -->
      </main>
      <% include partials/foot.ejs %>
      <% include partials/footer.ejs %>
  </body>
</html>
