<!DOCTYPE html>
  <body>
     <meta name="viewport" content="width=device-width, initial-scale=1">
     <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/css/materialize.min.css">
     <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
     <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/js/materialize.min.js"></script>

   <div id='splash' class='placeholder'>
  <main>

  <nav>
  <div class="nav-wrapper light blue">
    <a href="" class="brand-logo center light blue"> Markit - A Cross Browser Bookmark!</a>
  </div>
  </nav>

    <div class='parallax-container'>
        <div class='parallax'><img src='/img/cafeinterior_white.jpg'/></div>
        </div>
    </div>

    <div class="section white">
      <div class="row container">
        <h1 class='center-align'>We Work Where Ever You Do</h1>
      </div>
    </div>

    <div class='parallax-container'>
        <div class='parallax'><img src='/img/calendar_pink_white.jpg'/></div>
    </div>

    <div class='center-align' id='expl-wrapper'>
        <div id='i-wrapper' class='center-align'><h1>Mark It</h1>
        </div>
        <div class='reg-buttons'>
          <a href="/auth/login" class="btn-large waves-effect waves-light blue">Login</a>
          <a href="/auth/register" class="btn-large waves-effect waves-light blue">Register</a>
        </div>
      <br />
      <br />

    </div>

    <div class='parallax-container'>
      <div class='parallax'><img src='/img/couchtableinterior_blue_white.jpg'/></div>
    </div>

  </main>
   <script src='/javascript/parallax.js'></script>
  </body>


</html>
