.html, body {
  height: 100%; }

.fontzzz {
  font-family: 'Prata', serif; }

/* Toggle Styles */
.left-side {
  background-color: #fff;
  -webkit-box-shadow: 10px 0px 5px 0px #c9c5c9;
  -moz-box-shadow: 10px 0px 5px 0px #c9c5c9;
  box-shadow: 10px 0px 5px 0px #c9c5c9;
  height: 100vh;
  padding-left: 0; }

.left-fixedz {
  height: 90%;
  overflow: scroll; }

.begin {
  height: 70px; }

.top-right {
  height: 46px; }

.right-side {
  background-color: #f1f1f1;
  overflow: hidden;
  height: 100vh;
  padding-top: 15px; }

.sidebar-title {
  font-size: 2.3em;
  color: #757575; }

.selectpicker {
  width: 100%;
  margin-top: 10px; }

.llz {
  margin-top: 15px; }

.usr-name {
  font-size: 1.6em;
  color: #757575;
  padding: 30px;
  border-bottom: solid 1px #e5e5e5; }

.usr-name a {
  font-size: 1.6em;
  color: #757575;
  text-decoration: none; }

.usr-name a:hover {
  font-size: 1.6em;
  color: #2C3E50;
  text-decoration: none; }

.alg {
  margin-top: 20px; }

.spa {
  margin-right: 10px; }

.spb {
  margin-left: 10px; }

.alz {
  font-size: 1.6em;
  color: #757575;
  padding: 30px;
  border-top: solid 1px #e5e5e5;
  margin-top: 20px; }

.blue {
  background-color: #2980B9; }

.dark {
  background-color: #2C3E50; }

.folder-name {
  font-size: 1.2em;
  color: #757575;
  border-bottom: solid 1px #e5e5e5;
  padding: 15px; }

.icon-trash {
  color: #E74C3C; }

.boxz {
  border: solid 1px #e5e5e5;
  width: 100%;
  overflow: hidden;
  background-image: url("../img/bg.jpg");
  background-size: cover;
  margin: 30px 0; }

.boxzForUserProfile {
  border: 0;
  color: white !important;
  width: 100%;
  overflow: hidden;
  background-size: cover; }

.toggled {
  display: none; }

.bazinga {
  position: absolute;
  width: 100%; }

.edit-box {
  border: solid 1px #e5e5e5;
  background-color: #2980B9;
  color: #fff;
  padding: 10px;
  font-size: 18px; }

.edit-box:hover {
  background-color: #1c5377; }

.delete-box {
  border: solid 1px #e5e5e5;
  background-color: #2C3E50;
  color: #fff;
  padding: 10px;
  font-size: 18px; }

.delete-box:hover {
  background-color: #171e25; }

.bx-title-name {
  font-size: 2.6em;
  color: #fff;
  height: 150px;
  padding-top: 40px;
  background: rgba(0, 0, 0, 0.6); }

.bx-url-name {
  background: #212121;
  padding: 10px;
  color: #f1f1f1;
  font-size: 1.0em; }

.creat {
  font-size: 1.4em;
  margin-top: 10px;
  color: #757575;
  margin-bottom: 15px; }

.edit-box {
  border: solid 1px #e5e5e5;
  background-color: #2980B9;
  color: #fff;
  padding: 10px;
  font-size: 18px; }

.edit-box:hover {
  background-color: #1c5377; }

.delete-box {
  border: solid 1px #e5e5e5;
  background-color: #2C3E50;
  color: #fff;
  padding: 10px;
  font-size: 18px; }

.delete-box:hover {
  background-color: #171e25; }

.bx-title-name {
  font-size: 2.6em;
  color: #fff;
  height: 150px;
  padding-top: 40px;
  background: rgba(0, 0, 0, 0.6); }

.bx-url-name {
  background: #212121;
  padding: 10px;
  color: #f1f1f1;
  font-size: 1.0em; }

.creat {
  font-size: 1.4em;
  margin-top: 10px;
  color: #757575;
  margin-bottom: 15px; }

#custom-search-form {
  width: 100%; }

input[type=text], select {
  width: 95%;
  padding: 12px 20px;
  margin: 8px 7px;
  display: inline-block;
  border: 1px solid #2980B9;
  border-radius: 4px;
  box-sizing: border-box;
  float: left; }

.form-control {
  float: left !important; }

.btz {
  width: 50px;
  background-color: #3498DB;
  color: white;
  padding: 14px 20px;
  margin: 20px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer; }

input[type="submit"] {
  font-family: FontAwesome; }

.delete-iconz {
  background-color: transparent;
  border: 0; }

.delete-iconzs {
  background-color: transparent;
  border: 0;
  color: #fff; }

.baaa {
  z-index: 100000 !important; }

.zzz {
  margin-right: 10px;
  padding: 10px;
  font-size: 10px; }

.kzz {
  margin-top: 8px;
  background-color: #2980B9;
  padding: 9px;
  border-bottom: 6px solid #174869 !important;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  color: #fff;
  font-size: 16px; }
  .kzz:hover {
    background-color: #174869; }

.folder-st {
  border: 0;
  padding: 10px 20px;
  color: #2980B9;
  font-size: 1.0em;
  background-color: transparent; }
  .folder-st:hover {
    border-bottom: solid 1px #883027; }

.tkt {
  margin-top: 15px; }

.mzs a {
  font-size: 2em !important; }

.opp {
  padding: 25px !important;
  font-size: 2em !important; }

/*# sourceMappingURL=style.css.map */
