body {
   overflow-x: hidden;
}
/* Toggle Styles */


// STYLE

// FONTS
$title: 2.3em;
$usrn: 1.6em;
$small: 1.2em;
//padding
$space1: 30px;
$space2: 15px;
// COLORS
$white: #757575;
$blue: #2980B9;
// COLOR SCHEME
$blue-light: #3498DB;
$blue-medium: #2980B9;
$blue-dark: #2C3E50;
$red: #E74C3C;
$grey: #f1f1f1;

// border
$bot: solid 1px #e5e5e5;

//menu space
$sidebar-space: 20px;
// ICON space
$rightspc: 10px;
// box title and url space
$boxspx: 15px;
// BOX icons
$boxspz: 10px;
//img

// Delete padding 15px left and right
.container-fluid{
  padding: 0 !important;
}
// Remove margin left and right 15px
.row{
}
//Div col-md-3
.left-side{
  background-color: #fff;
  -webkit-box-shadow: 10px 0px 5px 0px rgba(201,197,201,1);
  -moz-box-shadow: 10px 0px 5px 0px rgba(201,197,201,1);
  box-shadow: 10px 0px 5px 0px rgba(201,197,201,1);
  padding-bottom: 290px;
  z-index: 100;
}
.begin{
  height: 70px;
}
.top-right{
  height: 46px;
}
//Div col-md-9
.right-side{
  background-color: $grey;
  overflow: hidden;
  padding-bottom: 700px;
  z-index: 1;
  padding-top: 40px;
}
//App title name
.sidebar-title{
  font-size: $title;
  color: $white;
}
.selectpicker{
  width: 100%;
  margin-top: 10px;
}

//User name
.usr-name{
  font-size: $usrn;
  color: $white;
  padding: $space1;
  border-bottom: $bot;
}
.usr-name a{
  font-size: $usrn;
  color: $white;
  text-decoration: none;
}
.usr-name a:hover{
  font-size: $usrn;
  color: $blue-dark;
  text-decoration: none;
}
//button space top
.alg{
  margin-top: 20px;
}
// icon space right
.spa{
  margin-right: $rightspc;
}
//icon space left
.spb{
  margin-left: $rightspc;
}
.alz{
  font-size: $usrn;
  color: $white;
  padding: $space1;
  border-top: $bot;
  margin-top: 20px;
}
.blue{
  background-color: $blue;
}
.dark{
  background-color: $blue-dark;
}
//folder name aside
.folder-name{
  font-size: 1.2em;
  color: $white;
  border-bottom: $bot;
  padding: $space2;
}
.icon-trash{
  color: $red;
}


.boxz{
 border: $bot;
 width: 100%;
 overflow: hidden;
 background-color: #fff;
}
.brds{
  border-top: $bot;
  border-bottom: $bot;
}

//BOX EDIT
.edit-box{
  border: $bot;
  background-color: $blue-medium;
  color: #fff;
  padding: $boxspz;
  font-size: 18px;
}
.edit-box:hover{
  background-color: #1c5377;
}
.delete-box{
  border: $bot;
  background-color: $blue-dark;
  color: #fff;
  padding: $boxspz;
  font-size: 18px;
}
.delete-box:hover{
  background-color: #171e25;
}
.title-box{
  border: $bot;
  padding: $boxspx;
}
.title-box-name{
  border: $bot;
  padding: $boxspx;
  font-weight: 700;
}
.url-box{
  border: $bot;
  padding: $boxspx;
}
.url-box-name{
  border: $bot;
  padding: $boxspx;
  font-weight: 700;
}
.creat{
  font-size: 1.4em;
  margin-top: 10px;
  color: $white;
  margin-bottom: 15px;
}

// form

#custom-search-form {
  width: 100%;
 }
 input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 7px;;
    display: inline-block;
    border: 1px solid $blue;
    border-radius: 4px;
    box-sizing: border-box;
    float: left;
}
.form-control{
  float: left !important;
}
.btz {
    width: 50px;
    background-color: #3498DB;
    color: white;
    padding: 14px 20px;
    margin: 20px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
